# Ignore virtual environment
video_converter_env/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore OS-specific files
.DS_Store

# Ignore the build directory
/build/

# Ignore the dist directory
/dist/

# Ignore PyInstaller spec files
*.spec

# Ignore log files
*.log
